<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/_head') %>
    </head>
    <body>
        <div class="btn md success">This is a test button</div>
        <form action="/api/test">
            <input type="text" name="test" value="test" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
