<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/_head') %>

        <script src="/scripts/main/index.js" defer></script>
        <script src="/ace/ace.js" defer></script>
    </head>
    <body>
        <div class="container">
            <article>
                <header>
                    <div>
                        <span>SnailyCAD</span>
                        <span class="text-xs text-muted">Manage SnailyCAD</span>
                    </div>
                </header>

                <div class="flex flex-col justify-center items-center gap-2">
                    <i class="ico">warning</i>
                    <div class="badge badge-primary">TEST</div>
                </div>
            </article>
        </div>

        <span class="session">Session ID: <%= session.id %></span>
    </body>
</html>
